<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaC Movies - Detalle de pelicula</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <!-- indica que un menu de navegacion -->
        <nav>
            <!-- para realizar divisiones de contenido -->
            <div>
                logo 🎥
            </div>
            <!--         etiqueta de lista -->
            <!-- <ol type="I">
                    <li>Tendencias</li>
                    <li>Registrarse</li>
                </ol> -->
            <ul>
                <li>
                    <!-- etiqueta enlace - enlace interno al documento html -->
                    <a href="#popular">Tendencias</a>
                </li>
                <li>
                    <!-- etiqueta enlace interno al proyecto -->
                    <a href="./templates/register.html">Registrarse</a>
                </li>
                <li>
                    <!-- Enlace externo -->
                    <a href="https://www.google.com/" target="_blank">Iniciar sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="banner-movie">
            <div>
                <img src="../static/img/mario.jpg" alt="Pelicula de mario">
            </div>
            <div>
                <h2>The Super Mario Bros. Movie</h2>            
            </div>
        </section>

        <section id="more-info">
            <div>
                <iframe width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/8YQM6VlfiqM?si=TxljAzl4ZlS7M4gQ"
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                </iframe>
                <!--<audio src="../static/videos/mario-theme.mp3" controls></audio>-->
            </div>
            <div>
                <table border="2">
                    <thead>
                        <tr>
                            <!-- agrupar columnas -->
                            <th colspan="2">Info</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td><strong>Status</strong></td>
                            <td>Released</td>
                        </tr>
                        <tr>
                            <td><strong>Original Language</strong></td>
                            <td>English</td>
                        </tr>
                        <tr>
                            <td><strong>Budget</strong></td>
                            <td> $100.000.000,00</td>
                        </tr>
                        <tr>
                            <td><strong>Revenue</strong></td>
                            <td> $1.347.013.866,00</td>
                        </tr>
                    </tbody>
                </table>

                <!--
                <table border="2">
                    cabecera de la tabla 
                    <thead>
                        una fila 
                        <tr>
                            columna de la cabecera 
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                        cuerpo de la tabla 
                    <tbody>
                        <tr>
                            Columna
                            <td>Susana</td>
                            <td>Horia</td>
                            <td>susanahoria@gmail</td>
                        </tr>
                        <tr>
                                Columna 
                            <td>Susana1</td>
                            <td>Horia1</td>
                            <td>susanahoria2@gmail</td>
                        </tr>
                        <tr>
                                Columna 
                            <td>Susana2</td>
                            <td>Horia2</td>
                            <td>susanahoria2@gmail</td>
                        </tr>
                    </tbody>
                </table>
                -->
            </div>
        </section>
    </main>    
</body>
</html>